body {
    background: black;
    background-image: url("../img/titan2.jpg");
}

.main-container {
    background: rgb(4.7%, 5.8%, 11.2%);
    border-radius: 10px;
    opacity: 0.9;
    background: #000000;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: auto;
}

.container-img {
    width: 560px;
    height: auto;
}