.navbar {
    background-color: rgb(10.6%, 12.2%, 19.8%);
}

.page-logo-title {
    width: 150px;
}


body {
    background: black;
    background-image: url("../img/titan2.jpg");
}

.main-container {
    background: rgb(4.7%, 5.8%, 11.2%);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 8px #d40035;
    /* right cyan */
    opacity: 0.9;
    background: #000000;
    height: auto;
    margin-top: 10px;
}

.logo {
    margin: auto;
}

.container-img {
    width: 560px;
    height: auto;
    align-content: center;
}

.intro {
    color: white;
    font-family: 'Merriweather', serif;
}